.container {
    width: 990px;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
}
.tray {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    overflow: hidden;
}
// a {
//     display: contents;
// }
.trayContent {
    width: auto;
}
