.wrapper {
    // margin-bottom: 80px;
    padding-bottom: 50px;
    background: #000;
    margin-top: 30px;
}
.trayTitle {
    background-position: 100% 0;
    background: #000 url(./../../../../assets/images/bg-gradient.png) no-repeat top;
    color: #ff4c00;
    font-size: 24px;
    height: 69px;
    letter-spacing: 5px;
    line-height: 69px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.container {
    width: 990px;
    margin: 0 auto;
}
.tray {
    width: 1000px;
    overflow: hidden;
}
