.wrapper {
    background-color: #333;
    box-shadow: 0 0 1px 0 #adadad;
    height: 60px;
    min-height: 40px;
    z-index: 1030;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}
.inner {
    display: flex;
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    // margin: 0 auto;
}
.headerLogo {
    float: left;
    height: 60px;
    padding: 10px 0;
}
.headerLogo > img {
    margin-top: -41px;
    height: 125px;
    width: 214px;
}
// menuHeader
.menuHeader {
    margin-left: 40px;
    width: 1000px;
    height: 60px;
    position: relative;
}
//ListMenuItem
.listMenuItem {
    position: absolute;
    display: flex;
    left: 0;
}
//search
