@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --with-seach-large: 320px;
    --black: #000;
    --white: #fff;
    --primery: #ff4c00;
}
body {
    background: #333;
    color: #bbb;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    margin: 0 auto;
}
//font
* {
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
}
