.wrapper {
    width: 100%;
    // position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
}
.inner {
    background: 0 0;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.39) 34%, #000 87%);
    bottom: 0;
    color: #eee;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    padding: 50px 5px 5px;
    z-index: 1;
}
.quality {
    background: #ff4c00;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 0 2px;
    width: fit-content;
}
.title {
    color: #fff;
    font-size: 16px;
    max-height: 44px;
    overflow: hidden;
}

.imdb {
    display: flex;
    bottom: 40px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 10px;
    .point {
        padding-left: 5px;
    }
    .icon {
        color: yellow;
    }
}
.info {
    .views {
    }
    .likes {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}
.audio {
    background: hsla(0, 0%, 100%, 0.75);
    border-radius: 3px;
    color: #0285b5;
    left: 5px;
    padding: 0 5px;
    position: absolute;
    top: 8px;
    z-index: 1;
}
