.wrapper {
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    // position: relative;
    width: 990px;
}
.wpPlayer {
    height: 360px;
    width: 640px;
    margin-top: 20px;
    float: left;
}
.video {
    background-color: yellow;
}
