.search {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 14px;
    //  margin-left: 121px;
    width: 320px;
    input {
        // -webkit-appearance: none;
        background: 0 0;
        color: inherit;
        border: 1px solid #444;
        border-radius: 15px;
        display: block;
        font-size: 13px;
        height: 30px;
        padding-left: 10px;
        padding-right: 30px;
        width: 100%;
        caret-color: #bbb;
    }
    input:focus {
        border-color: var(--primery);
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: #bbb; /* Màu của placeholder */
    }
}
.search-btn {
    color: #999;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 20px;
}
// @media (max-width: 1099px){
//     .menuHeader{
//         display: none;
//     }
// }
@media (min-width: 1024px) and (max-width: 1279px) {
    .menuHeader {
        width: 687px;
    }
    .search {
        width: 120px;
    }
}
@media (max-width: 1023px) {
    .menuHeader {
        display: none;
    }
    .inner {
        display: flex;
        justify-content: left; /* Canh giữa theo chiều ngang */
        align-items: center; /* Canh giữa theo chiều dọc */
    }
}
