.ratingItem {
    height: 160px;
    margin-bottom: 20px;
    width: 190px;
    margin-right: 10px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.ratingItemThumb {
    border-radius: 10px;
    float: right;
    height: 160px;
    margin: 0;
    width: 111px;
    background-color: chocolate;
    overflow: hidden;
}
.ratingItemThumb > img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.ratingItem:hover img {
    transform: scale(1.2);
}
.ratingItemTop {
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #555;
    font-size: 200px;
    font-weight: 800;
    left: 0;
    line-height: 160px;
    position: absolute;
    text-align: center;
    top: -3px;
    z-index: -1;
}
